.password-helper-text {
    font-size: 9px !important;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-course {
    margin-top: 40px;
}

.save-button {
    margin-bottom: 10px !important;
}
